*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background: url(img/sky.webp);
    -webkit-transition:background-position 1s ease-out;  
    -moz-transition:background-position 1s ease-out;  
    -o-transition:background-position 1s ease-out;  
    transition:background-position 1s ease-out; 
}

.obj{
    position: absolute;
    left: -75px;
    top: 75px;
    width: 50px;
    height: 50px;
    background-color: burlywood;
    -webkit-transition:all 1s ease-out;  
    -moz-transition:all 1s ease-out;  
    -o-transition:all 1s ease-out;  
    transition:all 1s ease-out; 
}

.obj2{
    position: absolute;
    left: 100px;
    top: 100px;
    width: 50px;
    height: 50px;
    background-color: burlywood;
    -webkit-transition:all 1s ease-out;  
    -moz-transition:all 1s ease-out;  
    -o-transition:all 1s ease-out;  
    transition:all 1s ease-out; 
}

.food{
    animation: foodAni 3s linear forwards;
}

/* .obj2{
    position: absolute;
    left: -300px;
    top: -600px;
    width: 50px;
    height: 50px;
    background-color: burlywood;
    -webkit-transition:all 1s ease-out;  
    -moz-transition:all 1s ease-out;  
    -o-transition:all 1s ease-out;  
    transition:all 1s ease-out; 
} */

.cont{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background: radial-gradient(red, yellow); */
    z-index: 100;
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    border: 1px solid red;
}

.planet{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    /* background: radial-gradient(red, yellow); */
    background: linear-gradient(yellow, red);
    position: relative;
    animation: myAn 2s linear infinite;
}

@keyframes myAn {
    from{
        transform:rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes foodAni{

}